.card__main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 360px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;
    margin: 20px;
}

.card__main:hover{
     transform: scale(1.01);
}

.empty_space{ 
    height: 8px;
    width: 100%;
}



/* Card top styling starts here */
.card__top{
    display: flex;
    padding: 10px;
}

.card__top__cont{
    padding: 4px 6px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
    border-radius: 10px;
}

.card__top__cont p{
    margin: 0;
    line-height: 1.5;
    font-size: 10px;
    font-weight: 200;
}



/* Card middle section styling */
.card__middle{
    padding: 8px 16px;
}

.card__title{
    display: flex;
    gap: 0.5rem;
}

.card__title img{
    height: 2.6rem;
    width: 28px;
}

.info__container h3{
    margin:0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
    color: #8b8b8b;
}

.info__container h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

.info__container h2{
    margin:0;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 250;
}

.card_sub_text{
    margin: 0;
    font-size: 12px;
    font-weight: 350;
    margin-top: 5px;
}

.est__salary{
    line-height: 1.43;
    font-size: 15px;
    margin: 8px 0;
    font-weight: 300;
    color: rgb(77, 89, 106);
}

.company__info{
    position: relative;
    height: 300px; 
    overflow: hidden;
}

.about__company__title,.about__role__title{
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 350;
}


.about__us__title,.founder{
    margin: 0;
    white-space: pre-wrap;
    font-size: 15px;
    font-weight: 500;
}

.company__desc__cont{
    margin: 0;
    white-space: pre-wrap;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 18px;
    font-weight: 250;
}


.founder__link{
    margin: 0;
    font-size: 14px;
    margin-bottom: 18px;
    margin-top: 5px;
    color: blue;
    font-weight: 250;
    cursor: pointer;
}

.role__desc__cont{
    margin: 0;
    white-space: pre-wrap;
    font-size: 14px;
    z-index: 3;
}

.view__job{
    background-color: #fff; 
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: #fff 0px -8px 40px 26px;
}

.view__job p{
    margin: 0;
    margin-bottom: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: #4943da;
}


.skills__title,.min__exp{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
    color: #8b8b8b;
    margin-top: 10px;
}

.skills__cont{
    margin: 0px;
    flex: 1 1;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-right: 15px;
    justify-content: start;
}

.skills__cont p{
    font-size: 10px;
    font-weight: 400;
    color: #4943da;
    background-color: #d9fed3;
    padding: 2px 7px;
    border-radius: 50px;
    margin: 2px 5px 2px 0px;
}

.skills h2{
    margin: 0;
    font-weight: 250;
    font-size: 15px;
    line-height: 1.5;
}



/* Card Bottom Styling */
.card__bottom{
    padding: 0 15px;
}

.card__bottom__cont{
    padding: 0.5rem 0;
}

.card__bottom__cont button{
    background-color: rgb(85, 239, 196);
    width: 100%;
    padding: 12px 18px;
    font-size:18px;
    font-weight: 350;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card__bottom__askref{
    padding: 0.5rem 0;
}
.card__bottom__askref button{
    background-color: #3d32db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 250;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
}

.card__bottom__askref button img{
    height: 24px;
    border-radius: 50%;
}





/* Responsive design styling */

@media (max-width: 600px){


    .card__main{
        border-radius: 16px;
        padding: 4px;
        margin: 16px;
    }
    
    
    .empty_space{ 
        height: 8px;
    }
    
    
    
    /* Responsive Card top styling starts here */
    .card__top{
        padding: 8px;
    }
    
    .card__top__cont p{
        font-size: 8px;
    }
    
    
    
    /*Responsive Card middle section styling */
    .card__middle{
        padding: 8px 14px;
    }
    
    
    .info__container h3{
        font-size: 12px;
    }
    
    .info__container h2{
        font-size: 13px;
    }
    
    .card_sub_text{
        font-size: 10px;
    }
    
    .est__salary{
        font-size: 13px;
    }
    
    .company__info{
        height: 270px; 
    }
    
    .about__company__title,.about__role__title{
        font-size: 1rem;
    }
    
    
    .about__us__title,.founder{
        font-size: 13px;
    }
    
    .company__desc__cont{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;
    }
    
    
    .founder__link{
        font-size: 12px;
        margin-bottom: 16px;
    }
    
    .role__desc__cont{
        font-size: 12px;
    }
    
    
    .view__job p{
        font-size: 13px;
    }
    
    
    .skills__title,.min__exp{
        font-size: 12px;
        margin-top: 8px;
    }
    
    .skills__cont{
        padding-right: 13px;
    }
    
    .skills__cont p{
        font-size: 8px;
    }
    
    .skills h2{
        font-size: 13px;
    }
    
    
    
    /* Responsive Card Bottom Styling */
    .card__bottom{
        padding: 0 10px;
    }
    
    .card__bottom__cont{
        padding: 0.3rem 0;
    }
    
    .card__bottom__cont button{
        padding: 10px 16px;
        font-size: 15px;
    }
    
    .card__bottom__askref{
        padding: 0.3rem 0;
    }
    .card__bottom__askref button{
        padding: 10px 16px;
        font-size: 12px;
        gap: 8px;
    }
    
    .card__bottom__askref button img{
        height: 20px;
    }
    


}