@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --font-name: "Lexend", sans-serif;
  --font-color: color: rgba(0, 0, 0, 0.87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: var(--font-name); 
  color: var(--font-color);
}

