@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


:root {
  --font-name: "Lexend", sans-serif;
  --font-color: color: rgba(0, 0, 0, 0.87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: var(--font-name); 
  color: var(--font-color);
}


/* Filter Section styling starts here */
.filters{
  /* background-color: pink; */
  display: flex;
  align-items: center;
  padding: 24px 60px;
}

.filter__element{
     background-color: lightblue;
     min-height: 38px;
     min-width: 150px;
     border: 1px solid rgb(204,204,204);
     border-radius: 5px;
     position: relative;
     display: flex;
     flex-direction: column;
}

.filter__title{
    font-size: 13px;
    margin-top: 6px;
    font-weight: 500;
}

.element__top{
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.element__top__left{
  background-color: brown;
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  flex-wrap: wrap; 
  overflow: hidden;
  padding: 2px 8px;
  box-sizing: border-box;
}

.selected__tag{
  background-color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  margin: 2px;
  border-radius: 2px;
}

.tag__text{
  font-size: 12px;
  margin: 0px 5px;
}
.tag__cross{
  height: 20px;
  width: 20px; 
  border-radius: 2px;
}
.tag__cross:hover{
  background-color: #ffbdad;
}
.tag__cross i{
  margin: 2px;
  font-weight: 600;
}

.tag__cross i:hover{
  color: #de350b;
}



.element__top__right{
     display: flex;
     align-items: center;
}


.cross__all{
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.cross__all i{
  font-size: 20px;
  font-weight: 600;
}
.cross__all i:hover{
  color: #9a9a9a;
}

.partition{
  background-color: rgb(230, 230, 230);
  width: 1px;
  height: 24px;
}

.dropdown__arrow{
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown__arrow i{
  font-size: 32px;
}
.dropdown__arrow i:hover{
  color: #9a9a9a;
}


.element__bottom{
  background-color: #fff;
  position: absolute;
  top: calc(100% + 10px);
  border-radius: 5px;
  max-height: 300px;
  overflow-x: auto;
  z-index: 5;
  box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 20px 8px;
}

.category__title{
  padding: 5px 10px;
  margin: 0;
  font-size: 14px;
  color: rgb(230, 230, 230);
}

.role{
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 250;
}

.role:hover{
  background-color: #deebff;
}

/* JobSection styling starts here */
.jobs{
    max-width: 100%;
    padding: 24px 60px;
    margin: 0px;
    display:flex;
    flex-grow: 0;
    flex-flow: wrap;
}

.jobcard__element{
    margin-top: 8px;
    padding: 24px;
}