@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


:root {
  --font-name: "Lexend", sans-serif;
  --font-color: color: rgba(0, 0, 0, 0.87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: var(--font-name); 
  color: var(--font-color);
}


.jobs{
    /* background-color: pink; */
    max-width: 100%;
    padding: 24px 60px;
    margin: 0px;
    display:flex;
    flex-grow: 0;
    flex-flow: wrap;
    justify-content: center;
}

.jobcard__element{
    /* background-color: yellow; */
    margin-top: 8px;
    padding: 24px;
}